#root {
  background-color: var(--dg);
}

body {
  background-color: var(--dg) !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  --lb: rgb(58, 119, 233);
  --lg: rgb(197, 197, 197);
  --dg: rgb(5, 5, 5);
  --purple: #6f42c1;
  --violet: rgb(160, 18, 167);
}

textarea {
  resize: none !important;
}

.App {
  text-align: center;
  justify-content: center;
  background-color: var(--dg);
  color: var(--lg);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.loader {
  margin-top: 40%;
}

.carousel {
  display: none !important;
}

.bg-x-dark {
  background-color: rgb(17, 17, 17) !important;
}

.bg-pitch {
  background-color: var(--dg) !important;
}

.text-fancy {
  background: -webkit-linear-gradient(
    left,
    rgb(60, 58, 185),
    rgb(68, 132, 250),
    rgb(184, 21, 206),
    rgb(247, 29, 102)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-fancy {
  background: -webkit-linear-gradient(
    left,
    rgb(64, 62, 190),
    rgb(75, 119, 202),
    rgb(159, 29, 177),
    rgb(165, 46, 86)
  );
}

.bg-split {
  background: linear-gradient(
    to right, 
    #ffffff 0%, 
    #ffffff 50%, 
    #000000 50%, 
    #000000 100%
  );
}

.text-purple {
  color: var(--purple) !important;
}

.bg-violet {
  background-color: var(--violet) !important;
}

.bg-orange {
  background-color: rgb(204, 131, 21) !important;
}

.bg-ig {
  background: linear-gradient(
    90deg,
    rgb(137, 6, 170),
    rgb(207, 0, 104),
    rgb(255, 191, 17)
  ) !important;
}

.nav-tabs .nav-link.active {
  background-color: rgb(56, 58, 63) !important;
  border-color: transparent !important;
  border-radius: 10%;
}

.nav-tabs .nav-link:hover {
  border-color: transparent !important;
  border-radius: 10%;
}

.nav-item a {
  color: var(--lg) !important;
}

.logo {
  width: 80px;
  height: auto;
}

.social-links {
  color: white;
  opacity: 50%;
}

.social-links:hover {
  transform: scale(1.2);
  transition: 400ms;
}

ul {
  list-style-type: none !important;
  border-bottom: 0px !important;
}

#bio-img {
  border-radius: 25% !important;
}

#about-social {
  margin-bottom: 5.4%;
}

#BTPic {
  background: radial-gradient(
    circle,
    rgb(60, 58, 185) 0%,
    rgba(10, 10, 10, 0.5) 50%,
    rgb(5, 5, 5) 100%
  );
}

span {
  padding: 3px;
}

ul {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #bio-img {
    border-radius: 0 30%;
    border: 0px !important;
  }

  .loader {
    margin-top: 60%;
  }

  .logo {
    width: 55px;
    height: auto;
    position: absolute;
  }

  #carousel {
    display: block !important;
  }

  #navbar {
    padding-top: 15px;
  }
}
