root {
  --lb: rgb(58, 119, 233);
  --dg: #212529;
  --purple: #6f42c1;
}

#root {
  background-color: var(--dg);
}

body {
  background-color: var(--dg);
}

.bg-x-dark {
  background-color: rgb(17, 17, 17);
}

.text-purple {
  color: var(--purple);
}

.active {
  background-color: rgb(58, 119, 233);
  color:rgb(17, 17, 17);
}

#bio-img {
  width: 35%;
  height: auto;
}

.logo {
  width: 80px;
  height: auto;
}

span {
  padding: 3px;
}

ul {
  text-decoration: none;
}